
:root {
  --titulos-color: #11999E; 
  --numeros-color: #EEEEEE;
  --text-color: #EEEEEE;
  --bkg-color: #222831;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

p{
  color: var(--text-color);
  cursor: text;
}
/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 3%;
  background: var(--bkg-color);
  display: flex;

}

.container {
  margin: 0 auto;
  text-align: center;
}
.nomostrar { display : none; }
h1 {
  font-weight: normal;
  font-size: 4vw;
  letter-spacing: .125rem;
  text-transform: uppercase;
  color: var(--titulos-color);
}
h3 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  color: var(--titulos-color);
}
.container-musica{
  background-color: var(--bkg-color);
  border-color: var(--bkg-color);
}
.mAmbiente{
  color: var(--text-color);
}
.mAmbiente:hover{
  color: var(--text-color);
}

a{
  text-decoration:none;
  color:var(--titulos-color);
}
a:hover{
  color: var(--text-color);
}
li {
  display: inline-block;
  color: var(--text-color);
  font-size: 3vw;
  font-family: 'Oswald', sans-serif;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
li span {
  display: block;
  color: var(--numeros-color);
  font-size: 4.5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  
  li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  
  li span {
    font-size: 3.375rem;
  }
}
.botones{
  fill: var(--titulos-color);
}
.botones:hover{
  fill: var(--text-color);
  cursor:pointer;
}


::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-thumb {
  background: var(--bkg-color); 
  border-radius: 155px;
}
audio {
  display: none;
}

/*COMIENZO MENU */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(7, 7, 7, 0.726);
  backdrop-filter: blur(15px);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*BOTON AJUSTES */
.ajustes{
  font-size:30px;
  cursor:pointer; 
  position: fixed; 
  bottom:5%; 
  right: 5%;
  color: var(--text-color);
}
/* COLORES */
.negro {
  width: 70px; 
  height: 70px; 
  border-radius: 100%;
  border-color: #ffffff;
  background: #222831;
  color: #FFFFFF;
  }
  .azul{
  width: 70px; 
  height: 70px; 
  border-radius: 100%;
  border-color: #ffffff;
  background: #14279B;
  color: #FFFFFF;
  }
  .verde{
  width: 70px; 
  height: 70px; 
  border-radius: 100%;
  border-color: #ffffff;
  background: #2E5A1C;
  color: #FFFFFF;
  }
.rojo{
width: 70px; 
height: 70px; 
border-radius: 100%;
border-color: #ffffff;
background: #51050F;
color: #FFFFFF;            
}
.rosa{
  width: 70px; 
  height: 70px; 
  border-radius: 100%;
  border-color: #ffffff;
  background: #FFC7C7;
  color: #FFFFFF;            
  }
  .amarillo{
    width: 70px; 
    height: 70px; 
    border-radius: 100%;
    border-color: #ffffff;
    background: #F0A500;
    color: #FFFFFF;            
    }
  .blanco{
    width: 70px; 
    height: 70px; 
    border-radius: 100%;
    border-color: black;
    background: #D4ECDD;
    color: #000000;            
    }
    